*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-image: url(bgimage2.jpg);
    background-size: cover;
    background-position:center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu-bar{
    background-color: rgb(179, 248, 69);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(250, 250, 67);
}
.menu-bar ul li{
    width: 120px;
    padding: 15px;
    margin: 15px;
}
.menu-bar ul li a{
    color: rgb(245, 179, 81);
    text-decoration: none;
}
.active, .menu-bar ul li:hover {
    background: rgb(185, 241, 241);
    border-radius: 10px;
}
.submenu-1{
    display: none;
}
.menu-bar ul li:hover .submenu-1{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(179, 248, 69);
}
.menu-bar ul li:hover .submenu-1 ul{
    display: block;
    margin: 10px;
}
.submenu-2{
    display: none;
}
.menu-bar ul li:hover .submenu-2{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(179, 248, 69);
}
.menu-bar ul li:hover .submenu-2 ul{
    display: block;
    margin: 10px;
}
.submenu-3{
    display: none;
}
.menu-bar ul li:hover .submenu-3{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(179, 248, 69);
}
.menu-bar ul li:hover .submenu-3 ul{
    display: block;
    margin: 10px;
}
.submenu-4{
    display: none;
}
.menu-bar ul li:hover .submenu-4{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(179, 248, 69);
}
.menu-bar ul li:hover .submenu-4 ul{
    display: block;
    margin: 10px;
}
.submenu-5{
    display: none;
}
.menu-bar ul li:hover .submenu-5 ul{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(179, 248, 69);
}
.menu-bar ul li:hover .submenu-5 ul{
    display: block;
    margin: 10px;
}

